<header>
    <p class="p_header_title">Aprender sobre...</p>
    <p class="p_header_subtitle">Escolha entre uma mistura cultural</p>
</header>
<main>
    <section class="categories">
        <p>Tudo o que ha para saber sobre os vinhos nacionais!</p>
        <br><br>
        <app-museum-card
        image="../../../assets/categoryPage/wines/vinho-do-porto.jpg"
        name="Museu do Vinho do Porto"
        location="Portugal"
        path="/wine-category-museum/museu-vinho-do-porto">
        </app-museum-card>
        <app-museum-card
        image="../../../assets/categoryPage/wines/vinho-outros.jpg"
        name="Museu de Vinho Maduro"
        location="Portugal"
        path="">
        </app-museum-card>
    </section>
</main>
