<app-front-navbar></app-front-navbar>
<section class="top_container">
  <img
    [src]="museum.imageLink"
    alt="Museu"
    class="img-size"
  />
  <p class="top_container_title">{{ museum.name }}</p>
</section>
<section class="center_container">
  <p class="center_container_text">{{ museum.about }}</p>
</section>
<section class="products">
  <p>Conhece a nossa arte</p>
  <br /><br />

  <div *ngFor="let art of arts">
    <app-product-card
      [museumId]="art.museumId"
      [artName]="art.artName"
      [author]="art.author"
      [category]="art.category"
      [date]="art.date"
      [description]="art.description"
      [imageLink]="art.imageLink"
      [artId]="art.id"
    >
    </app-product-card>
  </div>
</section>
<section class="center_container">
  <section class="info-section">
    <div class="info-card">
      <h2>BILHETES</h2>
      <p>BILHETEIRA ONLINE</p>
      <button class="museum-info-button">
        <a class="museum-info-a" [href]="museum.ticketShop"
          >Adquirir blhete(s)</a
        >
      </button>
    </div>
    <div class="info-card">
      <h2>HORÁRIO</h2>
      <p>
        <span *ngFor="let hour of museum.visitingHours">
          {{ hour }}<br />
        </span>
      </p>
    </div>
    <div class="info-card">
      <h2>ENDEREÇO</h2>
      <p>{{ museum.address }}<br /></p>
    </div>
  </section>
</section>
<section class="bottom_container">
  <section class="map-section">
    <section class="info-card-bottom-container">
      <h2>Localização</h2>
      <div class="map-container"></div>
    </section>
  </section>
</section>
