<app-front-navbar></app-front-navbar>
<section class="container">
    <section class="container_left">
        <img [src]="art.imageLink" alt="imageAlt">
    </section>
    <section class="container_right">
        <h1> {{art.artName}} </h1>
        <hr>
        <h3> Author </h3>
        <p> {{art.author}} </p>
        <h3> Date </h3>
        <p> {{art.date}} </p>
        <h3> Category </h3>
        <p> {{art.category}} </p>
        <h3> Description </h3>
        <p> {{art.description}} </p>
    </section>  
</section>