<header>
    <p class="p_header_title">Aprender sobre...</p>
    <p class="p_header_subtitle">Escolha entre uma mistura cultural</p>
</header>
<main>
    <section class="daily_histories">
        <p>História do dia</p>
        <img src="../../../assets/landingPage/daily_histories.jpg" alt="História do dia">
    </section>
    <section class="categories">
        <p>As diferentes categorias de museus que pode visitar</p>
        <br><br>
        <app-museum-card
        image="../../../assets/landingPage/wine_category.jpg"
        name="Vinhos"
        location="Portugal"
        path="/wine-category-museum">
        </app-museum-card>
        <app-museum-card
        image="../../../assets/landingPage/arts_category.jpg"
        name="Artes"
        location="Portugal"
        path="">
        </app-museum-card>
        <app-museum-card
        image="../../../assets/landingPage/sport_category.jpg"
        name="Desporto"
        location="Portugal"
        path="">
        </app-museum-card>
        <app-museum-card
        image="../../../assets/landingPage/antiques_category.jpg"
        name="Antiguidades"
        location="Portugal"
        path="">
        </app-museum-card>
    </section>
</main>
