<header>
    
</header>
<main>
    <section class="daily_histories">
        <p>História do dia</p>
        <img src="../../../assets/landingPage/daily_histories.jpg" alt="História do dia">
    </section>
    <section class="categories">
        <p>As diferentes categorias de museus que pode visitar</p>
        <br><br>
        <app-museum-card
        image="../../../assets/landingPage/wine_category.jpg"
        name="Vinhos"
        location="Portugal">
        </app-museum-card>
        <app-museum-card
        image="../../../assets/landingPage/arts_category.jpg"
        name="Artes"
        location="Portugal">
        </app-museum-card>
        <app-museum-card
        image="../../../assets/landingPage/sport_category.jpg"
        name="Desporto"
        location="Portugal">
        </app-museum-card>
        <app-museum-card
        image="../../../assets/landingPage/antiques_category.jpg"
        name="Antiguidades"
        location="Portugal">
        </app-museum-card>
    </section>
</main>
