<header>
  <p class="p_header_title">Aprender sobre...</p>
  <p class="p_header_subtitle">Escolha entre uma mistura cultural</p>
</header>
<main>
  <!--<section class="daily_histories">
        <p>História do dia</p>
        <img src="../../../assets/landingPage/daily_histories.jpg" alt="História do dia">
    </section>-->
  <section class="categories">
    <p>As diferentes categorias de museus que pode visitar</p>
    <br /><br />

    <div *ngFor="let category of categories">
      <app-card [image]="category.imageLink" [name]="category.name" [category]="category.category" [signal]="true">
      </app-card>
    </div>
  </section>
</main>
