<!--clear<section class="top_container">
    <img [src]="imageLink" [alt]="imageAlt">
    <p class="top_container_title">{{museumName}}</p>
</section>
<section class="center_container">
    <p class="center_container_text">{{description}}</p>
</section>
<section class="products">
    <p>{{productsText}}</p>
    <br><br>
    <app-product-card
    image={{productImage_1}}
    name={{productAlt_1}}
    product_name={{productName_1}}
    path={{path_1}}>
    </app-product-card>
    <app-product-card
    image={{productImage_2}}
    name={{productAlt_2}}
    product_name={{productName_2}}
    path={{path_2}}>
    </app-product-card>
    <app-product-card
    image={{productImage_3}}
    name={{productAlt_3}}
    product_name={{productName_3}}
    path={{path_3}}>
    </app-product-card>
</section>
<section class="center_container">
    <section class="info-section">
        <div class="info-card">
            <h2>BILHETES</h2>
            <p>BILHETEIRA ONLINE</p>
            <button class="museum-info-button"><a class="museum-info-a" href={{siteLink}}>Adquirir blhete(s)</a></button>
        </div>
        <div class="info-card">
            <h2>HORÁRIO</h2>
            <p>Terça—Domingo<br>10H—17H30<br>Encerra à segunda-feira e dias feriados.</p>
        </div>
        <div class="info-card">
            <h2>ENDEREÇO</h2>
            <p>Rua da Reboleira, 33-37, 4050-492 Porto<br>GPS: 41.140207, -8.615170<br><a class="info-card-a" href="https://www.google.com/maps/search/?api=1&query=41.140207,-8.615170" target="_blank">Direções</a></p>
        </div>
    </section>
</section>
<section class="bottom_container">
    <section class="map-section">
        <section class="info-card-bottom-container">
            <h2>Localização</h2>
            <div class="map-container">
            <iframe
                src={{mapLink}}
                width="100%"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy">
            </iframe>
        </div>
        </section>
    </section>
</section>
-->