<section class="container">
    <section class="container_left">
        <img [src]="imageLink" [alt]="imageAlt">
    </section>
    <section class="container_right">
        <h1> {{productName}} </h1>
        <hr>
        <h3> {{titleAuthor}} </h3>
        <p> {{author}} </p>
        <h3> {{titleDate}} </h3>
        <p> {{date}} </p>
        <h3> {{titleCategory}} </h3>
        <p> {{category}} </p>
        <h3> {{titleDescription}} </h3>
        <p> {{startDescription}} <span class="enfase"> {{productNameCaps}} </span> {{endDescription}} </p>
    </section>  
</section>