<app-product-template
imageLink="../../../../../../assets/products/wines/museum/blackett-vintage-2013.jpg"
imageAlt="Blackett Vintage 2013"
productName="BLACKETT VINTAGE 2013"
titleAuthor="Marca:"
author="Vinhos de Alquimia"
titleDate="Data de Lançamento:"
date="2015"
titleCategory="Categoria:"
category="Vinho do Porto"
titleDescription="DESCRIÇÃO"
startDescription="O vinho do porto"
productNameCaps="BLACKETT VINTAGE 2013"
endDescription="é um exemplar de vinho do Porto de alta qualidade, 
produzido pela empresa Alchemy Wines. Este vinho representa uma colheita específica, sendo 
engarrafado sem envelhecimento em madeira, o que é característico dos vinhos vintage, que 
são considerados o auge dos vinhos do Porto.">
</app-product-template>