<section class="container">
    <section class="container_left">
        <img src="../../../../../../assets/products/wines/vinho-do-porto/blackett-vintage-2013.jpg" alt="Blackett Vintage 2013">
    </section>
    <section class="container_right">
        <h1> BLACKETT VINTAGE 2013 </h1>
        <hr>
        <h3> Marca: </h3>
        <p> Vinhos de Alquimia </p>
        <h3> Engarrafado: </h3>
        <p> 2013 </p>
        <h3> Categoria: </h3>
        <p> Vinho do Porto </p>
        <h3> DESCRIÇÃO </h3>
        <p> O vinho do porto "BLACKETT VINTAGE 2013" é um exemplar de vinho do Porto de alta qualidade, 
            produzido pela empresa Alchemy Wines. Este vinho representa uma colheita específica, sendo 
            engarrafado sem envelhecimento em madeira, o que é característico dos vinhos vintage, que 
            são considerados o auge dos vinhos do Porto.
        </p>
        <p class="description"></p>
    </section>  
</section>